@media screen and (max-width: 767px) {
     
     
     hr{
          margin: 0 auto;
     }

     h3
     {
          margin: 0 auto 10px;
     }

     .cabecalho-container{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 120px;
     }

     .cabecalho-nome, .cabecalho-subtitulo{
          margin: 0;
     }

     .cabecalho-imagem{
          display:none
     }

     .container-inteiro{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 0;
     }

     .container-esquerdo{
          width: 100%;
          padding: 0;
          gap: 0px;
     }

     .container-direito{
          width: 100%;
          padding: 0;
     }

     
     
     .ul-contato i{
          margin-right: 10px;
     }


     a{
          color: black;
          border: 1px solid black;
          border-radius: 20px;
          padding: 1px 10px;
          text-decoration: none;
     }
     
     a:hover{
          color: white;
          background-color: black;
          transition: 0.3s;
     }

     ul{
          list-style: none;
          text-align: initial;
          line-height: 1.5;
     }

     .experiencia-incial{
          font-weight: bolder;
     }

     .data{
          margin: 0 auto;
          font-size: small;
     }
     
     h4, h5{
          margin: 10px auto 0;
     }

     .titulo-experiencia{
          margin-bottom: 13px;
     }

}